.Footer {
  width: 100%;
  height: 130px;
  background-color: rgba(123, 138, 111, 1);
  font-weight: 700;
  position: relative;
  margin-top: 40px;
}

.Footer-inner {
  width: 1200px;
  height: 130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer__logo {
  width: 118px;
  height: 85px;
}

.Footer__info {
  width: 126px;
  font-family: 'Merriweather', sans-serif;
  font-size: 15px;
  line-height: 19.5px;
  letter-spacing: 3%;
  color: rgba(79, 50, 29, 1);
  text-transform: uppercase;
}